/*Reset dei valori di CSS*/
* 
{
	margin: 0px;
	padding: 0px;
	box-Sizing: border-box;
    font-family: BetmRounded, sans-serif; /*Scelgo sans-serif come font di riserva*/
}

/*Creo il mio font, che è molto simile a quello dell'immagine*/
@font-face
{
    font-family: BetmRounded;
    src: url("BetmRounded-Black.woff2");
}

#main-title   
{
    color: rgba(229,48,111,255);
    text-align: center;
    font-size: 40px;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

#paragraph 
{
    text-align: center;
}

/*Imposto come colore di sfondo il bianco e allineo tutto al centro*/
body
{
    background-color: white;
    margin: auto;
    width: 69%;
}

main
{
    width: 65%;
    margin: 0 auto;
}

/*Poichè uso i float per posizionare determinati elementi, userò anche il clearfix*/
.clearfix::after 
{
    content: "";
    display: table;
    clear: both;
}

div.big-column 
{
    padding-top: 20px;
    margin: 15px 5px;
    width: 30%;
    background-color: white;
    border: 10px solid white;
    float: left;
}

div.business-card
{
    width: 250px;
    margin: 10px;
    margin-top: 20px;
    background-color: rgba(15,14,23,255);
    border: 10px rgba(15,14,23,255);
    float: left;
}

#team-memebers-section
{
    position: center;
}

h2.name
{
    color: white;
    font-size: 20px;
    text-align:justify;
    padding-top: 5px;
}

.profession
{
    color: white;
    position: inline-block;
    text-align:justify;
}

.email-address
{
    color: rgba(71,167,198,255);
    position: inline-block;
    text-align:justify;
}

.profile-picture
{
    height: 100%;
    width: 25%;
    float:left; 
    margin-right: 8px;
}